.Profile-title{
    text-align: center;
}
.Profile-header{
    display: flex;
    align-items: center;
}
.Profile-img{
    height: 18vw;
    width: 18vw;
    border-radius: 50%;
}
.Profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem;
}

@media (max-width: 1000px){
    .Profile-header{
        flex-direction: column;
    }
    .Profile-img{
        height: 200px;
        width: 200px;
    }
    .Profile-info{
        padding: 0 3rem;
    }
}

.Profile-itins-menu{
    display: flex;
    justify-content: space-around;
}

.itin-menu{
    border-radius: 0;
    padding: 0.5rem 0;
    width: 100%;
    background-color: white;
    border: 0;
    border-bottom: solid white 3px;
    color: #888;
    transition: color, 0.2s ease-out;
}
.itin-menu:hover{
    color: #555555;
}

.active-tab{
    pointer-events: none;
    cursor: not-allowed;
    color: rgba(102, 209, 149);
    border-bottom: 3px solid;
}

.bi{
    font-size: 3rem;
}

.bi-geo-alt-fill{
    font-size: 1rem;
}