/* Image sourced from: 
https://adventure.norrona.com/en/assets/image-cache/1061_Trolltunga_Preikestolen_and_Kjerag_2018_ThorHUlstad_144.2ff10b81.jpg */
.Home{
    background-image: url("/public/fjord.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.Home-title{
    padding: 2rem;
    margin: 2rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

@media (max-width: 1000px){
    .Home-title{
        width: 90%;
    }
    .Home{
        flex-direction: column;
    }
}

.btn{
    border-radius: 25px;
}

