.Home-title{
    padding: 2rem;
    margin: 2rem;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

@media (max-width: 1000px){
    .Home-title{
        width: 90%;
    }
    .Home{
        flex-direction: column;
    }
}

.Home-header{
    display: flex;
    align-items: center;
}

.Home-gif{
    width: 150px;
}

.btn{
    border-radius: 25px;
}

