#root {
  margin: 0 auto;
}

.Body-content{
  margin-top: 4.5rem;
}

.body-cont{
  margin-top: 7rem !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

