@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

body{
  font-family: "Manrope", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.wanderlyst{
  font-family: "Unbounded", sans-serif;
}

i{
  font-family: Inter, sans-serif;
}

a {
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: rgb(56, 110, 85);
}

.NotFound{
  margin: 6rem 0;
  text-align: center;
}

p{
  margin: 0;
}

hr{
  margin: 0;
}

.card{
  padding: 2em;
}
.color-card{
  border: none;
  box-shadow: rgba(183, 249, 212, 0.9) 0px 0px 10px 5px;
}

.btn{
  border: none;
}

.btn-primary{
  background-color: rgba(102, 209, 149);
}

.btn-primary:hover{
  background-color: rgb(73, 150, 114);
}

.btn-secondary{
  background-color:#888;
}

.btn-primary, .btn-danger{
  font-weight: 600;
}

.secondary{
  color:#888;
}

.secondary:hover{
  color: #555555;
}

.text-bg-primary{
  background-color: rgba(102, 209, 149) !important;
}
.text-bg-primary:hover{
  background-color: rgb(73, 150, 114) !important;
}

.auth-form{
  margin: 0.5rem auto !important;
  width: 32rem;
}

@media (max-width: 1000px){
  .auth-form{
    margin-top: 3.5rem !important;
  }
}

@media (max-width: 700px){
  .auth-form{
    margin-top: 1rem !important;
    width: 30rem;
  }
}

/******* Home Background *********/
/* Image sourced from: 
https://adventure.norrona.com/en/assets/image-cache/1061_Trolltunga_Preikestolen_and_Kjerag_2018_ThorHUlstad_144.2ff10b81.jpg */
.Home{
  background-image: url("/src/assets/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


